<%- include('./partials/head') %>

    <body class="productAdd">
        <%- include('./partials/header') %>
            <div class="container">
                <div class="form mt-5">
                    <h2>agregar producto</h2>
                    <% if (locals.errores){ %>
                        <div class="alert alert-danger">
                            <% errores.errors.forEach(error=>{ %>
                                <p class="small">
                                    <%= error.msg %>
                                </p>
                                <% }) %>

                        </div>
                        <% }) %>

                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label"> Nomnre</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" name="title" value="<%= local.old && old.title ? old.title : null %> ">
                                <span class="text-danger"><%= locals.errores && errores.title %> </span>                             
                               </div>
                                <div class="mb-3">
                                    <label for="floatingTextarea">Descripcion</label>
                                    <textarea class="form-control" id="floatingTextarea" name="Description"><%= locals.old && old.description ? old.description : null %></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">precio</label>
                            <input type="number" class="form-control" name="price" id="formGroupExampleInput2" value="<%= locals.old && old.price ? old.price : null %>">
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Categoria</label>
                                    <select id="category" class="form-select" name="category">
                                        <option value="" selected hidden>seleccionar la categoria</option>
                                        <% categorias.forEach(categoria=>{ %>
                                            <option value="<%= categoria  %>" <%=local.old && old.category===categoria
                                                ? 'selected' : null %> ><%= categoria %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="productImagen" class="form-label">Imagen</label>
                                    <input type="file" class="form-control" id="productImagen" name="image"
                                        accept="/image/*">
                                    <span class="text-danger">
                                        <%= typeof error !='undefined' ? error : null %>
                                    </span>

                                </div>
                            </form>
                </div>

                

            </div>
    </body>